.container{
    height: 100%;
    width: 100%;
    background-color: lightgray;
}


.heading{
    
    top:0;
    padding: 5px 0 5px 10px;
    height: 50px;
    background-color:  #ffc800;
    font-family:cursive;
    color:white;
    width: 100%;
    margin: 0;
    font-size: 30px;
    
}


/* create note */

.create-note{
    margin: 40px auto;

    width:500px;
    position: relative;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 0;

    

  
}

.create-note input,.create-note textarea{
    width: 100%;
    outline-style: none;
    border: none;
    font-size: 21px;
    font-family: Helvetica;
    letter-spacing: 1px;
    /* background-color: pink; */
    padding: 10px 5px;
    color: black;
    /* margin: 5px 0; */

}

.create-note input{
    border-radius:10px 10px 0 0 ;
    font-weight: 550;
}

.create-note textarea{
    border-radius: 0 0 10px 10px;
    transition:all ease-in-out 0.5 ;
}

.create-note span{
    padding: 6px 13px;
    background-color:#ffc800;
    position: absolute;
    bottom: -15px;
    right: -13px;
    color: white;
    border-radius:50%;font-family: sans-serif;
    font-weight:550;
    font-size: 25px;
    transition: all 0.3s ease-in-out ;
    
}



/* note */

.note {
   display: flex;
   flex-direction:column ;
   /* gap: 5px; */
   width: 250px;
   padding:15px 10px ;
   margin: 10px 20px;
   border-radius: 10px;
   background-color: white;
   /* position: relative; */
  
   /* overflow:wra; */
   display:inline-block;
   position: relative;
   font-family: Helvetica;

}

.note span{
    right: 0;
    padding: 10px ;
    background-color:#ffc800;
    position: absolute;
    bottom: -15px;

    color: white;
    border-radius:50%;font-family: sans-serif;
    font-weight:550;

}
span:hover{
    cursor: pointer;
}